<!doctype html>
<html lang="en">

<head>
    <title>Register</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--Google Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans&display=swap" rel="stylesheet">
    <!--Fontawesome-->
    <script src="https://kit.fontawesome.com/6ac12fa637.js" crossorigin="anonymous"></script>
    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css" />
    <!-- Bootstrap CSS v5.2.1 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

    <link rel="stylesheet" href=" /css/style.css">
    <link rel="stylesheet" href=" /css/login_style.css">
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">
                    <img src=" /img/logo.png" alt="Logo">
                    <span class="navbar-tittle">PrivTutor</span>
                </a>
            </div>
            <div class="right-nav">
                <div class="right-nav-line">Have an account already?</div>
                <form action="">
                    <button>
                        <a href="/login">Sign in</a>
                    </button>
                </form>
            </div>
        </nav>
    </header>

    <main>
        <div class="login-container">
            <form method="POST" action="/auth/register" class="Login">
                <h1 class="title-line-1">Let's get to</h1>
                <h2 class="title-line-2">know you!</h2>
                <div class="account-type-line">Account type:</div>
                <div class="account-type-form" action="">
                    <button id="active">Student</button>
                    <button id="inactive">Mentor</button>
                </div>
                <div class="login-input-form" action="">
                   <input type="text" placeholder="Username" required>
                    <input type="email" placeholder="Email" required >
                    <input type="password" placeholder="Password" required >
                    <input type="password" placeholder="Re-confirm password" required>
                </div>
                <div class="under-input">
                    <div>Already have an account?</div>
                    <a class="signup-link" href="/login">Sign in</a>
                </div>
                <div class="login-button-form" action="">
                    <button class="login-button">Sign up</button>
                </div>
            </form>
        </div>

    </main>
    <footer>
        <!-- place footer here -->
    </footer>
    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
    </script>

    <!-- Swiper JS -->
    <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>

   
</body>

</html>