:root {
    --dark-purple: #51435F;
    --content-background: #9583A7;
}

main {
    min-height: 80vh;
    background-color: var(--content-background);
}

.navbar-collapse {
    display: flex;
    justify-content: space-between;
}

.navbar-brand {
    font-family: 'DM Sans';
}

.navbar-brand img {
    width: 52px;
    height: 52px;
}

.d-flex input {
    width: 490px;
}

.navbar-collapse {
    margin-left: 100px;
}

footer {
    height: 200px;
    background-color: var(--dark-purple);
}

.search-bar {
    position: relative;
    padding: 0;
    margin: 0;
}

.form-control {
    height: 20px;
    margin: 0;
    padding-left: 30px;
}

#input_img {
    position: absolute;
    bottom: 5px;
    left: 10px;
    width: 10px;
    height: 10px;
}

.nav-item {
    line-height: 100px;
}

.nav-item-container img.avatar {
    border-radius: 100%;
    height: 66px;
    width: 66px;
}

.sidenav {
    min-height: 1000px;
    width: 20%;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
}

.sidenav img {
    width: 15px;
    height: 15px;
    margin: 10px;
}

.sidenav a {
    line-height: 50px;
    margin: 5px 0;
    padding: 0px;
    text-decoration: none;
    font-size: 15px;
    color: black;
    display: block;
    border-radius: 10px;
    font-weight: 500;
}

.sidenav .active-page {
    background-color: var(--dark-purple);
    color: lightgrey;
}

.sidenav a:hover {
    color: #ad57fe;
}

.main-content {
    background-color: var(--content-background);
    width: 80%;
}

.main-container {
    background-color: white;
    margin: 10px 5px;
    padding: 30px 0;
}

.main-title,
.tag-row,
.recommend-course {
    margin: 0 30px;
}

.tag-row {
    display: flex;
    justify-content: flex-start;
}

.tag-row a {
    margin: 0 10px;
    width: fit-content;
    text-decoration: none;
    color: black;
}

.tag-row a:first-child {
    margin: 0 10px 0 0;
}

.slide-container {
    border: solid 1px;
    border-radius: 10px;
}

.card-container {
    width: 200px;
    padding: 10px;
    margin: 10px;
}

.card-container .image {
    height: 100px;
    width: 150px;
    border-radius: 50%;
    padding: 3px;
}

.card img {
    border-radius: 10px;
    width: 100%;
    height: 100%;
}

.slide-container .content {
    color: black;
    word-break: break-word;
}

.slide-container .content .course-name {
    font-size: 13px;
    font-weight: bold;
}

.slide-container .content .course-author {
    font-size: 10px;
}

.card-container .content .course-rating {
    font-size: 10px;
}

.card-container .content .course-rating .number-people-rating {
    font-size: 7px;
}

.card-container .content .course-price {
    font-weight: bold;
    font-size: 15px;
}

.swiper-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.slide-container {
    border: solid 1px;
    border-radius: 10px;
}

.course_lists_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 20px;
}

.course_item_container {
    width: 200px;
    padding: 10px;
    margin: 10px;
}

.course_item_container .image {
    margin: auto;
    height: 100px;
    width: 150px;
    border-radius: 50%;
    padding: 3px;
}

.card img {
    border-radius: 10px;
    width: 100%;
    height: 100%;
}

.slide-container .content {
    color: black;
    word-break: break-word;
}

.course_item_container .content .course-name {
    font-size: 13px;
    font-weight: bold;
}

.course_item_container .content .course-author {
    font-size: 10px;
}

.course_item_container .content .course-rating {
    font-size: 10px;
}

.course_item_container .content .course-rating .number-people-rating {
    font-size: 7px;
}

.course_item_container .content .course-price {
    font-weight: bold;
    font-size: 15px;
}

.course_item_container .content .progress-real {
    /* display: inline-block; */
    border-bottom: #A435F0 1px solid;
    width: 20%;
    margin: 10px 0px 0px;
}

.course_item_container .content .progress-blank {
    /* display: inline-block; */
    border-top: lightgray 1px solid;
    width: 100%;
    margin: 0px 0px 5px;
}

.course_item_container .content .detail .progress-percent {
    font-size: 10px;
    display: inline-flex;
    float: left;
    /* margin-right: 0px; */
}

.course_item_container .content .detail .leave-rating {
    transform: scale(0.5);
    display: inline-flex;
    /* margin-left: 50%; */
    float: right;
}

.course_item_container .content .detail {
    display: inline;
}

.course_item_container .content .rating-detail {
    font-size: 10px;
    text-align: right;
    /* margin-left: auto; */
    margin-right: 0px;
}

.student-main-container .black_title {
    width: 100%;
    height: auto;
    background: black;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
}

.student-main-container .black_title .course-title,
.rating {
    display: inline;
}

.student-main-container .black_title .course-title {
    font-size: 30px;
    margin-left: 60px;
    font-weight: bold;
}


/* Course Comments */

.course-comment {
    margin: 15px 0;
    padding: 10px 30px;
    background-color: #D7C9E4;
}

.course-comment h2 {
    font-size: 20px;
    font-weight: bold;
}

.comment-card {
    background-color: white;
    width: 300px;
    border: solid 1px lightgrey;
    padding: 10px;
}

.comment-card .comments {
    word-break: break-word;
}

.comment-card .comment-author img {
    width: 40px;
    height: 40px;
    border-radius: 100%;
}

.comment-author .author-name {
    font-weight: 700;
    font-size: 15px;
}

hr {
    background-color: black;
    height: 2px;
    margin: 5px 0;
}

.course-link {
    display: flex;
    flex-direction: row;
}

.course-link .icon {
    margin-right: 5px;
    line-height: 40px;
    font-size: 25px;
}

.course-link .link {
    font-size: 15px;
    font-weight: 500;
    color: blue;
    text-decoration: none;
}


/* Featured Topics */

.featured-topic {
    background-color: #D7C9E4;
    padding: 30px;
}

.topic-container {
    display: flex;
    flex-direction: row;
}

.topic-container .topic {
    width: 300px;
}

.topic-container .topic .topic-title {
    font-weight: bold;
}

.topic-button button {
    background-color: #D7C9E4;
}

.topic-button button a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}


/* Student Discovery   */

.student-discovery-tag-row {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.student-discovery-tag-row .tag {
    padding: 0 10px;
    background-color: lightgrey;
    border-radius: 5px 5px 0 0;
}

.student-discovery-tag-row .active {
    background-color: white;
}

.student-main-container {
    background-color: white;
    padding: 30px 0;
    border-radius: 0px 5px 5px 5px;
}

.cart-main-container .cart_menu_header {
    font-size: 40px;
    font-weight: bold;
    color: black;
    margin-bottom: 30px;
}

.cart-main-container .featured-topic {
    background-color: #D7C9E4;
    padding: 30px;
}

.cart-main-container {
    background-color: white;
    padding: 30px 0;
    border-radius: 5px;
    margin-top: 20px;
    padding: 30px;
    height: 100%;
}

.cart-main-container .cart_menu_body h1 {
    font-size: 15px;
    /* font-weight: bold; */
    color: black;
    /* margin-bottom: 10px; */
}

.cart-main-container .cart_menu_body .cart_detail {
    float: left;
    width: 70%;
    padding-right: 10px;
    /* padding-right: 400px; */
}

.cart-main-container .cart_menu_body .separator {
    border-bottom: lightgray 2px solid;
    width: 100%;
    /* padding-right: 400px; */
}

.cart-main-container .cart_menu_body .cart_detail .item_in_cart .item_img {
    height: 100%;
    width: 116px;
    object-fit: cover;
}

.cart-main-container .cart_menu_body .cart_detail .item_in_cart {
    /* align-items: flex-end; */
    display: flex;
    gap: 10px;
    height: 105px;
    padding: 15px 0;
    /* width: 757px; */
}

.cart-main-container .cart_menu_body .cart_detail .item_in_cart {
    max-width: 686px;
}

.cart-main-container .cart_menu_body .cart_detail .item_in_cart .item_detail {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5px;
    margin-bottom: 1px;
    /* width: 619px; */
    width: 100%;
}

.cart-main-container .cart_menu_body .cart_detail .item_in_cart .row_1_2 {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    /* justify-content:left; */
}

.cart-main-container .cart_menu_body .cart_detail .item_in_cart .item_detail .col_1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.cart-main-container .cart_menu_body .cart_detail .item_in_cart .item_detail .col_1 p {
    margin: 0%;
}

.cart-main-container .cart_menu_body .cart_detail .item_in_cart .item_detail .item_name {
    font-size: 12px;
    margin-bottom: 5px;
    font-weight: bold;
}

.cart-main-container .cart_menu_body .cart_detail .item_in_cart .item_detail .item_author,
.row_1_2,
.item_length {
    font-size: 10px;
}

.cart-main-container .cart_menu_body .cart_detail .item_in_cart .item_detail .col_2 {
    font-size: 12px;
    text-align: right;
    color: #5C1FCE;
}

.cart-main-container .cart_menu_body .cart_detail .item_in_cart .item_detail .col_3 {
    font-size: 12px;
    text-align: right;
    color: #A630EE;
    font-weight: bold;
}

.cart-main-container .cart_menu_body .cart_detail .item_in_cart .item_detail .original_price {
    text-decoration: line-through;
    color: rgb(133, 133, 133);
    font-weight: normal;
}

.cart-main-container .price {
    float: right;
    /* margin-left: 20px; */
    /* display: inline; */
    /* top: 240px;
    right: 42px; */
    /* position: absolute; */
    /* display: flex; */
    /* flex-direction: column; */
    color: #000;
    width: 30%;
    background-color: #fff;
    /* box-shadow: 0px 4px 8px 1px rgba(0, 0, 0, 0.1); */
}


/* .cart-main-container .price__img {
    width: 100%;
}

.cart-main-container .preview__body {
    padding: 8px;
}

.preview__price {
    font-size: 40px;
    font-weight: 700;
}

.cart-main-container .preview__add__btn {
  } */

.cart-main-container .price_body {
    padding-left: 10px;
}

.total_header {
    margin-bottom: 0px;
}

.total_price {
    font-size: 40px;
    font-weight: 700;
}

.cart-main-container .cart_menu_body .price .price_body .original_price {
    font-size: 15px;
    color: gray;
    text-decoration: line-through;
}


/* .cart-main-container .preview__add__btn {
    background-color: #a435f0;
    color: #fff;
    font-size: 20px;
    text-align: center;
    padding: 8px;
    font-weight: 600;
    margin-bottom: 8px;
    cursor: pointer;
}

.cart-main-container .preview__buy__btn {
  } */

.cart-main-container .buy_button {
    margin: 10px 0px 20px;
    font-size: 20px;
    text-align: center;
    /* padding: 8px; */
    font-weight: 600;
    /* border: 1px solid rgba(0, 0, 0, 0.5); */
    background-color: #A435F0;
    color: white;
    cursor: pointer;
}

.cart-main-container .preview__title {
    font-weight: 700;
}

.cart-main-container .preview__list {
    font-size: 14px;
}

.cart-main-container .cart_menu_body .price .price_body .promotion_header {
    margin-top: 10px;
    font-size: 15px;
    color: gray;
}

.cart-main-container .preview__item {}

.black_bar {
    width: 100%;
    height: 50px;
    background: black;
    padding-top: 20px;
    /* display:inline;  */
}

#black_menu_item li {
    display: inline;
    margin: 20px;
}

#black_menu_item :hover {
    cursor: pointer;
}

#black_menu_item :active {
    cursor: pointer;
    color: white;
    border-bottom: 2px solid white;
}

#active_item {
    background-color: black;
    color: white;
    border-bottom: 2px solid white;
}

#item {
    background-color: black;
    color: lightgrey;
}

.discovery-topic-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: lightgrey solid;
}

.student-main-container h1,
.student-main-container h2 {
    margin: 30px;
}

.topic-nav {
    margin: 0 30px;
    display: flex;
    flex-direction: row;
}

.topic-nav a {
    margin: 0 10px;
    text-decoration: none;
    color: black;
}

.topic-nav-active {
    font-weight: bold;
}

.student-main-container hr {
    margin: 0 30px;
}


/* Popular Topic */

.popular-topic {
    margin: 0 30px;
}

.popular-topic button {
    width: 200px;
    background-color: white;
}

#topic-slide {
    display: flex;
    flex-direction: column;
}

.topic-cards-container {
    margin: 0 0 0 30px;
}

.popular-topic-card {
    margin: 10px 0;
}

.popular-topic-card a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}


/* Featured Course */

.featured-course {
    margin: 0 30px;
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
}

.featured-course .featured-course-card {
    display: flex;
    flex-direction: row;
}

.featured-course-image {
    width: 50%;
    margin-right: 10px;
}

.featured-course-image img {
    width: 100%;
}

.featured-course-description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.featured-course-description i {
    font-size: 5px;
    vertical-align: middle;
}

.featured-course-description .name {
    font-size: 30px;
    font-weight: bold;
}

.featured-course-description .description {
    font-size: 20px;
    font-weight: 500;
}

.featured-course-description .author,
.featured-course-description .date-line,
.featured-course-description .infor {
    font-size: 15px;
    font-weight: lighter;
}

.featured-course-description .update-date {
    font-weight: bold;
}

.featured-course-rating {
    color: orange;
    font-size: 15px;
}

.featured-course-rating .featured-rating {
    font-weight: bold;
}

.trend-tag {
    background-color: orange;
    color: black;
    font-weight: bold;
    font-size: 15px;
}

.featured-course-description .price {
    font-size: 20px;
    font-weight: bold;
}